[submodule "furigana"]
	path = furigana
	url = git@github.com:lachlanchen/FuriganaSubtitles.git
[submodule "AutoPublish"]
	path = AutoPublish
	url = git@github.com:lachlanchen/AutoPublish.git
[submodule "AutoPubMonitor"]
	path = AutoPubMonitor
	url = git@github.com:lachlanchen/AutoPubMonitor.git
