{
  "openapi": "3.1.0",
  "info": {
    "title": "LazyEdit private Studio API",
    "version": "1.0.0",
    "description": "One configured owner pilot. See handoff for device-code errors and limitations. No implicit publication."
  },
  "servers": [
    {
      "url": "https://edit.lazying.art"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/v1/studio/health": {
      "get": {
        "summary": "Minimal public health",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "security": []
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Password exchange; mode token returns a scoped token pair",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/device": {
      "post": {
        "summary": "Create device authorization request",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/token": {
      "post": {
        "summary": "Refresh token rotation or poll approved device code",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/approve": {
      "post": {
        "summary": "approve",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/auth/revoke": {
      "post": {
        "summary": "revoke",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "logout",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/studio/account": {
      "get": {
        "summary": "Current authenticated account information",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        }
      }
    },
    "/v1/studio/capabilities": {
      "get": {
        "summary": "Current authenticated account information",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        }
      }
    },
    "/auth/grants": {
      "get": {
        "summary": "Current authenticated account information",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        }
      }
    },
    "/v1/studio/uploads": {
      "post": {
        "summary": "Create owned resumable upload",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Upload"
              }
            }
          }
        }
      }
    },
    "/v1/studio/upload": {
      "get": {
        "summary": "Read upload offset/receipt",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "uploadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Cancel incomplete upload (keeps finalized media)",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "uploadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/studio/upload-part": {
      "put": {
        "summary": "Append at committed offset, maximum 16 MiB chunk",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "uploadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Upload-Offset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/v1/studio/upload-complete": {
      "post": {
        "summary": "Verify SHA-256/video and register exactly once",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/videos/{videoId}": {
      "get": {
        "summary": "Owned video detail",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "videoId",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ]
      }
    },
    "/api/videos/{videoId}/process-status": {
      "get": {
        "summary": "Actual backend pipeline state",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "videoId",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ]
      }
    },
    "/api/videos/{videoId}/process": {
      "post": {
        "summary": "Asynchronous current-output processing",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Process"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "videoId",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          }
        ]
      }
    },
    "/api/videos/{videoId}/publish": {
      "post": {
        "summary": "Reviewed submission to existing serialized queue",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Publish"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "videoId",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          }
        ]
      }
    },
    "/api/autopublish/queue": {
      "get": {
        "summary": "Jobs filtered by owned video",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        }
      }
    },
    "/v1/studio/artifact": {
      "get": {
        "summary": "Completed render digest/preview",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "videoId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Upload": {
        "type": "object",
        "required": [
          "filename",
          "size",
          "sha256"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "maxLength": 180
          },
          "size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10737418240
          },
          "sha256": {
            "type": "string",
            "pattern": "^[a-fA-F0-9]{64}$"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Publish": {
        "type": "object",
        "required": [
          "platforms",
          "reviewApproved",
          "reviewedVideoId",
          "reviewedSha256",
          "confirmation",
          "productionConfirmation"
        ],
        "properties": {
          "platforms": {
            "type": "array",
            "items": {
              "enum": [
                "youtube",
                "instagram",
                "shipinhao",
                "douyin",
                "xiaohongshu",
                "bilibili"
              ]
            }
          },
          "reviewApproved": {
            "const": true
          },
          "reviewedVideoId": {
            "type": "integer"
          },
          "reviewedSha256": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "confirmation": {
            "const": "PUBLISH_REVIEWED_MEDIA"
          },
          "productionConfirmation": {
            "const": "PUBLISH_REVIEWED_MEDIA_PRODUCTION"
          }
        }
      },
      "Process": {
        "type": "object",
        "properties": {
          "steps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "translationLanguages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "burnSubtitles": {
            "type": "boolean"
          },
          "usePolishedSubtitles": {
            "type": "boolean"
          },
          "autoCorrectSubtitles": {
            "type": "boolean"
          },
          "autoCorrectPrompt": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "polish_notes": {
            "type": "string"
          },
          "burnLayout": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Opaque short-lived user token; not a LazyEdge machine token"
      }
    }
  }
}
