{
  "openapi": "3.1.0",
  "info": {
    "title": "LazyEdit private Studio API",
    "version": "1.0.0",
    "description": "One configured owner pilot. See handoff for device-code errors and limitations. No implicit publication."
  },
  "servers": [
    {
      "url": "https://edit.lazying.art"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/v1/studio/languages": {
      "get": {
        "summary": "List subtitle targets, independently of UI and ASR languages",
        "description": "Requires media.read. Check capabilities.subtitleLanguageCatalogue before using this extension. Returns code, name, grammarColors, reading, rtl and requiresPreview, plus renderingWarning where applicable. A registered target is not certification of provider quality or font/shaping coverage. RTL token order needs preview review; specialized readings apply to the exact advertised canonical targets.",
        "responses": {"200":{"description":"Common subtitle-language catalogue"},"401":{"description":"Authentication required"},"403":{"description":"media.read required"}}
      },
      "post": {
        "summary": "Validate additional subtitle language tags without saving settings",
        "description": "Requires media.read. Supports known CLDR language/script/region tags, such as pt-BR, sr-Latn, fil and eo. Preserves requested order, canonicalizes aliases and deduplicates. Unsafe or unknown tags fail instead of reverting to defaults. This does not register an account, start editing or publish.",
        "requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["languages"],"additionalProperties":false,"properties":{"languages":{"type":"array","maxItems":40,"items":{"type":"string"}}}}}}},
        "responses":{"200":{"description":"Canonical codes and language descriptors"},"400":{"description":"Unknown, unsafe or invalid language selection"},"403":{"description":"media.read required"}}
      }
    },
    "/v1/studio/preparations/{operationId}": {
      "get": {
        "summary": "Read the original private editing operation and recovery state",
        "description": "Requires jobs.read, media.read and ownership of the operation/media. operationId is returned as operation_id from preparation acceptance. An accepted receipt is not completion. A restarted worker reports interrupted when an accepted editing task lost its live pipeline; unknown dispatches report reconciliation_required. Check authenticated capabilities.preparationRecovery before using this extension.",
        "parameters": [{"in":"path","name":"operationId","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9_-]{20,80}$"}}],
        "responses": {"200":{"description":"Original operation identity, state, recoverable flag, recovery count and private pipeline status"},"401":{"description":"Authentication required"},"403":{"description":"Required scope or media ownership denied"},"404":{"description":"Operation unavailable to this account"}}
      }
    },
    "/v1/studio/preparations/{operationId}/resume": {
      "post": {
        "summary": "Resume an interrupted editing preparation, never a social publication",
        "description": "Requires edit.submit and media.read for the original owner/media. Send an empty object. Original settings, request identity, source SHA and publication-session identity are retained; completed checkpoints from this operation are reused. It does not create another intent, charge another processing run, upload, publish or select an owner worker. Any prior social job, changed source, superseding operation or uncertain dispatch blocks recovery. An already running/done operation returns its state without redispatch. This API is advertised only by recovery-capable deployments.",
        "parameters": [{"in":"path","name":"operationId","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9_-]{20,80}$"}}],
        "requestBody": {"required":true,"content":{"application/json":{"schema":{"type":"object","maxProperties":0}}}},
        "responses": {"200":{"description":"Same editing operation resumed or already working/done"},"400":{"description":"Replacement options are not accepted"},"401":{"description":"Authentication required"},"403":{"description":"Required scope or source ownership denied"},"404":{"description":"Operation unavailable to this account"},"409":{"description":"Source, operation, publication or dispatch state needs reconciliation"},"503":{"description":"Cannot verify private preparation state"}}
      }
    },
    "/v1/studio/review": {
      "get": {
        "summary": "Owned render, cover and zh/en/ja metadata snapshot",
        "description": "Requires media.read and publication.prepare. Returns studio_review.v1 with videoId, artifact, metadata, cover (media_url/byteLength/sha256), and reviewDigest. Send that digest as reviewedReviewDigest when publishing. It detects changed review material at submission, not an immutable queue snapshot.",
        "parameters": [{"in":"query","name":"videoId","required":true,"schema":{"type":"integer","minimum":1}}],
        "responses": {"200":{"description":"Review snapshot"},"401":{"description":"Authentication required"},"403":{"description":"Scope or ownership denied"},"409":{"description":"Render, cover or metadata incomplete"}}
      }
    },
    "/v1/studio/health": {
      "get": {
        "summary": "Minimal public health",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "security": []
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Password exchange; mode token returns a scoped token pair",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/device": {
      "post": {
        "summary": "Create device authorization request",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/token": {
      "post": {
        "summary": "Refresh token rotation or poll approved device code",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/approve": {
      "post": {
        "summary": "approve",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/auth/revoke": {
      "post": {
        "summary": "revoke",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "logout",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/studio/account": {
      "get": {
        "summary": "Current authenticated account information",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        }
      }
    },
    "/v1/studio/capabilities": {
      "get": {
        "summary": "Current authenticated account information",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        }
      }
    },
    "/auth/grants": {
      "get": {
        "summary": "Current authenticated account information",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        }
      }
    },
    "/v1/studio/uploads": {
      "post": {
        "summary": "Create owned resumable upload",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Upload"
              }
            }
          }
        }
      }
    },
    "/v1/studio/upload": {
      "get": {
        "summary": "Read upload offset/receipt",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "uploadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Cancel incomplete upload (keeps finalized media)",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "uploadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/studio/upload-part": {
      "put": {
        "summary": "Append at committed offset, maximum 16 MiB chunk",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "uploadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Upload-Offset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/v1/studio/upload-complete": {
      "post": {
        "summary": "Verify SHA-256/video and register exactly once",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/videos/{videoId}": {
      "get": {
        "summary": "Owned video detail",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "videoId",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ]
      }
    },
    "/api/videos/{videoId}/process-status": {
      "get": {
        "summary": "Actual backend pipeline state",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "videoId",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ]
      }
    },
    "/api/videos/{videoId}/process": {
      "post": {
        "summary": "Asynchronous current-output processing",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Process"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "videoId",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          }
        ]
      }
    },
    "/api/videos/{videoId}/publish": {
      "post": {
        "summary": "Reviewed submission to existing serialized queue",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Publish"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "videoId",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          }
        ]
      }
    },
    "/api/autopublish/queue": {
      "get": {
        "summary": "Jobs filtered by owned video",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        }
      }
    },
    "/v1/studio/artifact": {
      "get": {
        "summary": "Completed render digest/preview",
        "responses": {
          "200": {
            "description": "Success (completion is distinct from job acceptance)"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Missing, expired or revoked user credential"
          },
          "403": {
            "description": "Scope, ownership or browser-origin denied"
          },
          "409": {
            "description": "Offset, idempotency or reviewed artifact conflict"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "videoId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Upload": {
        "type": "object",
        "required": [
          "filename",
          "size",
          "sha256"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "maxLength": 180
          },
          "size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10737418240
          },
          "sha256": {
            "type": "string",
            "pattern": "^[a-fA-F0-9]{64}$"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Publish": {
        "type": "object",
        "required": [
          "platforms",
          "reviewApproved",
          "reviewedVideoId",
          "reviewedSha256",
          "confirmation",
          "productionConfirmation"
        ],
        "properties": {
          "reviewedReviewDigest": {"type":"string","pattern":"^[a-f0-9]{64}$"},
          "platforms": {
            "type": "array",
            "items": {
              "enum": [
                "youtube",
                "instagram",
                "shipinhao",
                "douyin",
                "xiaohongshu",
                "bilibili"
              ]
            }
          },
          "reviewApproved": {
            "const": true
          },
          "reviewedVideoId": {
            "type": "integer"
          },
          "reviewedSha256": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "confirmation": {
            "const": "PUBLISH_REVIEWED_MEDIA"
          },
          "productionConfirmation": {
            "const": "PUBLISH_REVIEWED_MEDIA_PRODUCTION"
          }
        }
      },
      "Process": {
        "type": "object",
        "description": "Use either legacy process options or only preparationPreset/background/requirements. lightmind-capture.v1 prepares the full corrected EN/JA/ZH-Hant/FR, zero-lift, source-aware portrait-fill output with the configured logo. It never rotates or publishes. Text fields have an 8000-character limit. Existing publication jobs block new preset preparation.",
        "properties": {
          "preparationPreset": {"const":"lightmind-capture.v1"},
          "background": {"type":"string","maxLength":8000},
          "requirements": {"type":"string","maxLength":8000},
          "steps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "translationLanguages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "burnSubtitles": {
            "type": "boolean"
          },
          "usePolishedSubtitles": {
            "type": "boolean"
          },
          "autoCorrectSubtitles": {
            "type": "boolean"
          },
          "autoCorrectPrompt": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "polish_notes": {
            "type": "string"
          },
          "burnLayout": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Opaque short-lived user token; not a LazyEdge machine token"
      }
    }
  }
}
